[2015-04-21 20:24] SeanFeldman opened #3 "Handling Critical failures when using Azure host"
## Who's affected

- Anyone using Azure host (cloud services and azure host process) running in production using NServiceBus version 4 and above. (Azure Host version 5 and above)

## Symptoms

- On critical error host doesn't get shut down

## Description

In NServiceBus version 3, if for any reason any of the critical components, such as Timeout persistence, subscription persistence, etc., become

[2015-04-21 20:41] #3 closed

[2015-04-27 18:18] SeanFeldman opened #4 "Incorrect dependency on non existing NServiceBus.Azure 6.2.2 nuget package"
## Who's affected

- Anyone who has update NServiceBus.Hosting.Azure or NServiceBus.Hosting.Azure.HostProcess to version 6.2.2

## Symptoms

- Nuget packages NServiceBus.Hosting.Azure and NServiceBus.Hosting.Azure.HostProcess version 6.2.2 are failing during installation/update due to missing nuget NServiceBus.Azure package version 6.2.2 that doesn't exist.

## General

Released NServiceBus.Hostin

[2015-04-27 18:51] SeanFeldman commented on #4
Fixed by f581052017804e15f9ad16e3a10de247f9ef5970

[2015-04-27 18:51] #4 closed

[2015-05-06 05:13] particularbot opened #5 "Make dynamic host independent of azure"
<a href="https://github.com/yvesgoeleven"><img src="https://avatars.githubusercontent.com/u/471354?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yvesgoeleven](https://github.com/yvesgoeleven)**
_1/22/2015 9:38:46 AM +00:00_

_Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/241_

---

Split the dynamic host from the azure hosting project, so

[2015-05-06 05:14] particularbot opened #6 "Let dynamic host send a message when process goes down"
<a href="https://github.com/yvesgoeleven"><img src="https://avatars.githubusercontent.com/u/471354?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yvesgoeleven](https://github.com/yvesgoeleven)**
_12/18/2013 6:45:56 AM +00:00_

_Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/94_

---

Right now the only options are logging and recycling. (re

[2015-05-06 05:14] particularbot opened #7 "Remove the TopShelf dependency"
<a href="https://github.com/yvesgoeleven"><img src="https://avatars.githubusercontent.com/u/471354?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yvesgoeleven](https://github.com/yvesgoeleven)**
_10/21/2013 7:18:08 AM +00:00_

_Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/53_

----

[2015-05-06 05:14] particularbot opened #8 "Bring Azure host into line with core host"
<a href="https://github.com/johnsimons"><img src="https://avatars.githubusercontent.com/u/122651?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [johnsimons](https://github.com/johnsimons)**
_9/25/2013 6:58:36 AM +00:00_

_Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/40_

----

There is a lot of duplication between the Azure host and core h

[2015-05-06 21:40] particularbot opened #9 "When removing an item from the DynamicHost, it causes the entire host to recycle, thereby restarting all hosted endpoints"
_Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/257_

----

This is an undesireable situation in deployed environments, as it kills all other hosted endpoints during the dynamic host recycle.

[2015-07-15 13:57] SeanFeldman opened #11 "Obsolete UsingTransport<T>()"
**Originated from**: https://github.com/Particular/NServiceBus.Azure/issues/163

In line with Particular/NServiceBus#2272

[2015-07-15 14:02] particularbot opened #12 "Order of settings"
**Issue by [SeanFeldman](https://github.com/SeanFeldman)** _10/28/2014 12:33:03 PM +00:00_ _Originally opened as https://github.com/Particular/NServiceBus.Azure/issues/199_

----

Values provided by users in ConfigSection should take precedence over values provided with Fluent API, while Fluent API overrides default values set by ConfigSeaction

**Affects:**
- [ ] Needs a review. Settings that are

[2015-07-22 04:42] mjhilton opened #13 "No option to delete source .zip file when an endpoint is removed"
Related to https://github.com/Particular/NServiceBus.Host.AzureCloudService/issues/100

When a running endpoint's .zip source package is removed from blob storage, the endpoint is deprovisioned and the extracted endpoint files are removed, but the .zip file remains on disk. Over time, this will cause the Role Instance's LocalStorage to fill up and exceed the allowed quota, triggering a role recycl

[2015-07-28 16:21] SeanFeldman commented on #9
From original thread _by @CRuppert_
@SeanFeldman is there any way we can get a hotfix release for this? It's really putting a crimp in our continuous delivery style. Unless there's a general release coming soon, of course.

[2015-07-28 16:23] SeanFeldman commented on #9
[PR was merged](https://github.com/Particular/NServiceBus.Azure/pull/258) but never released (repository split took place).
Will be released as a hotfix /cc @CRuppert

[2015-07-29 05:21] #9 closed

[2015-07-29 05:57] SeanFeldman commented on #13
@mjhilton what was the size of your endpoint(s) zip and how big was LocalStorage?

[2015-08-02 01:29] mjhilton commented on #13
@SeanFeldman we were running 11 different endpoints around 10mb each, and using numbered versioning of the zip files, so each time we upgraded the endpoints (very regularly due to this being part of a CI process), we'd end up with 110mb of old source zips hanging around.

[2015-08-18 19:48] CRuppert opened #15 "Please relax hard version of CommonServiceLocator 1.0 to allow > 1.0"
Azure Hostprocess when installed conflicts with other libraries that require CSL 1.3 or higher.

Forcing the install by installing CSL 1.3, then installing hostprocess with -ignoredependencies flag with binding redirect in the app.config and NServiceBus.Hosting.Azure.HostProcess.exe.config fixes the problem and allows everything to function.

However this prevents us from building complete nuget p

[2015-08-18 20:15] CRuppert commented on #15
@SeanFeldman  pr #16  handles this.

If you can accept, we would love a build for this soon. ;)

Thanks so much!

[2015-08-20 23:14] SeanFeldman commented on #13
@Particular/azure should this be done as a patch?

[2015-10-19 23:09] CRuppert opened #17 "Hosting.Azure.HostProcess crashes and will not run at all in DynamicHost without scannedAssemblies parameter"
Upgraded to latest as per product advisory this morning, was still in the 6.2 line prior to update.

First noticed when I could not debug.
Throws as
[code]
you can resolve this by passing  `/scannedAssemblies=<EndpointAssemblyName> ` on the command line and everything executes fine.

However, there is no way to do this when running in the Azure DynamicHost. The thrown exception is slightly differe

[2015-10-20 01:27] SeanFeldman commented on #17
@CRuppert are you referring to the critical bug regarding timeouts? The fix was in NServiceBus.Azure, not the host.
Could you please let know all the packages and their exact versions you're using?

[2015-10-20 01:33] CRuppert commented on #17
@SeanFeldman
Yeah, the timeouts issue is what started the upgrades. I know it was just for the Azure package, but while I was at it, I upgraded the rest of the packages.
[code]

[2015-10-20 04:51] SeanFeldman commented on #17
I have quickly verified that host is working as before.
@CRuppert could you please try [this sample](http://docs.particular.net/samples/azure/shared-host/) and see if it's working for you or provide a simple repro?

[2015-10-21 15:16] CRuppert commented on #17
Sorry @SeanFeldman, our bad. Someone had some incorrect references. Unfortunately the error messaging for the host stuff did not indicate that as per usual.  Apologies!

[2015-10-21 15:16] #17 closed

[2015-10-21 16:20] SeanFeldman commented on #17
No worries at all @CRuppert

[2015-12-18 10:46] janpieterz opened #19 "Removing an item from the blobstorage sometimes causes the host not to execute"
When removing an item (although sometimes it happens with updating as well) the host is unable to read the files anymore, causing it to stall. Fix is to download another one, re-upload it so it kicks off, but it would be great if the host could provide this out of the box, without requiring manual action.

It doesn't always happen so I'm thinking it might have something to do with, for example, re

[2015-12-18 11:44] yvesgoeleven commented on #19
Thanks for reporting, we'll look into this

[2016-01-26 08:05] janpieterz commented on #19
Had it happen another time today (I was updating 4 endpoints after each other, automatically):
[code]

[2016-01-29 07:44] janpieterz commented on #19
Happened more or less once every single day in the last three days. I deployed around 11 times during these times. Possibly interesting flow of deployment is that it picks up every endpoint, ZIPs it and deploys it, so they don't all get dropped at once.

[2016-02-03 05:30] janpieterz commented on #19
@yvesgoeleven any ideas or progress with this?

Wouldn't mind trying to fix it myself, it happens quite regularly, on production as well as on staging and therefore our automatic deployment story is quite unreliable.

[2016-02-03 07:24] janpieterz commented on #19
Browsing through the code a bit, I noticed two things:
The DynamicEndpointRunner logger is used in classes that are not the DynamicEndpointRunner. Not sure if this is by design or not but this was a bit confusing to figure out, I was wondering why the heck that location would throw this error until by accident I saw the logger in the DynamicEndpointProvisioner actually referencing the DynamicEndpo

[2016-02-05 07:42] yvesgoeleven commented on #19
If you log on to the machine where the zip file is downloaded, can you open it there?

[2016-02-08 11:13] janpieterz commented on #19
I've just tested it and indeed I cannot open it. Error is below. Downloading ZIP manually didAlso noted that it basically always throws a couple of errors when deployed (the couple of lines without any description in them) but it seems to be able to recover from that.

What I did notice is that on every deployment (of 4 endpoint) it creates 4 lines with an error in the dynamic endpoint runner (or

[2016-02-08 15:17] yvesgoeleven commented on #19
Sounds like the zip gets corrupted somehow, if it can be opened from storage, but not from disk, then something goes wrong during transfer. Wonder how we can test/validate this?

[2016-02-08 16:10] janpieterz commented on #19
Next time it occurs I'll try and make 100% sure the zip on the storage is actually ok. If the problem could be downloading the zip, it could also be the uploading of course.

Just to make sure my assumption is correct, there's no way another part of the Shared Host is accessing the zip files, somehow multi-threading the extraction somehow or anything like that?

[2016-02-08 16:22] janpieterz commented on #19
To specify further: I'm uploading 4 individual blobs from different machines (two) to the same container, so they'll drop in at slightly different times, sometimes they don't all get picked up in the same 60 second interval. I have tested the table storage and partially uploaded blobs aren't shown until they're complete.

[2016-02-09 09:58] yvesgoeleven commented on #19
As far as I know, there is no parallelisation going on, only 1 thread is responsible for downloading the files

[2016-02-12 14:29] janpieterz commented on #19
I can confirm I just had it happen with zip files that, when downloaded from the endpoints folder manually, were fine to extract.

It sadly happened on production so couldn't dive any further (as in see if having the same code as used here for downloading it would produce the same result).

[2016-02-19 05:54] SeanFeldman opened #20 "Update nuspec files to .net 4.5.2"
similar to https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/packaging/nuget/nservicebus.azureservicebus.nuspec#L22

[2016-02-24 18:48] #20 closed

[2016-03-16 21:13] kbaley opened #24 "Implement IWantToRunWhenEndpointStartsAndStops"
Connects to https://github.com/Particular/NServiceBus/issues/3342

With `IWantToRunWhenBusStartsAndStops` becoming obsolete, each host will need to implement this functionality (including tests).

[2016-03-22 17:00] boblangley opened #25 "Update to Core v6"
Update the host to core v6

[2016-03-22 17:01] boblangley commented on #25
@Particular/tf-v6-launch-plat-dev Should this be part of the v6 launch? Especially since we [are moving a core interface to the host](https://github.com/Particular/NServiceBus/issues/3342).

[2016-03-22 17:15] SeanFeldman commented on #25
@boblangley it's already taking place in #22 and #23

[2016-03-24 09:46] yvesgoeleven commented on #25
I'll merge #22 in, I tested it on monday it was good

[2016-03-24 09:46] #25 closed

[2016-03-24 20:27] colin-higgins opened #26 "Consolidate Azure Host into Windows Host"
In talking about how or whether to share code for `IWantToRunWhenEndpointStartsAndStops` between Azure host and Windows host I came to the realization that it may be beneficial to just consolidate them into a single solution.

The two repositories do effectively the same thing for two different platforms.

@SeanFeldman @kbaley @yvesgoeleven

[2016-03-24 20:49] SeanFeldman commented on #26
:+1: for consolidation. Options were:

1. Copy/paste code
1. git submodules
1. shared nuget package

[2016-03-24 22:37] yvesgoeleven commented on #26
Azure host does have a dependency on azure storage for the dynamic host and it does some funky reflection stuff to get a dependency on serviceruntime without actually having to reference it (that assembly is updated through visual studio tools packages and not through nuget due to legal reasons), so not sure if we can just consolidate it.

I don't want to loose this :)

[2016-03-24 22:40] SimonCropp commented on #26
@colin-higgins the problem is because we follow gitflow we version at the repository level. so two things that have different versions and different deployment schedules cannot be hosted in the same repository

[2016-03-25 00:12] colin-higgins commented on #26
So basically it's a lot more work than it's worth.

[2016-03-25 00:15] SimonCropp commented on #26
yeah we would need new conventions for labeling and branching. so yeah pain

[2016-03-25 09:57] yvesgoeleven commented on #26
In the long run I would like to move the capabilities above into their own package and teach people how to selfhost in different azure services. Cloudservices is just one in many these days, there is websites, webjobs, batch, service fabric, container service now, all potential hosts for an nsb endpoint

[2016-03-25 13:47] colin-higgins commented on #15
@SeanFeldman Should this be closed? It looks like the PR was merged into develop a while back.

[2016-03-25 15:12] SeanFeldman commented on #15
Since it will be release with the next version, yes.

[2016-03-25 15:12] #15 closed

[2016-03-25 18:26] #26 closed

[2016-03-30 11:32] #24 closed

[2016-04-06 16:59] SeanFeldman opened #30 "Multi-host throwing System.Collections.Generic.KeyNotFoundException: The given key (TypesToScan) was not present in the dictionary."
As part of the [smoke testing of multi-host sample](https://github.com/Particular/docs.particular.net/pull/1384#issuecomment-206175941), have ran into this issue.

Host is failing with the following exception (hidden by cloud service):

[code]

[2016-04-08 06:27] SeanFeldman opened #33 "Upgrade Storage Library to version 7.0.0"
With version 7.0.0 of the WindowsAzure.Storage library, we should package ASQ with it to allow customers to use version 7+, which they will be asking to allow them to use the latest MSFT library.

[2016-04-27 12:13] WojcikMike opened #37 "Change location of binaries folder"
Connects to: Particular/NServiceBus.AzureStorageQueues#107

It seems that binaries folder is created under /src/ folder, and it should be 1 level up.

[2016-05-12 16:43] sfarmar opened #38 "NServiceBus appears to take a hard reference to version 2.0.0.0 via Ionic.Zip.dll"
http://stackoverflow.com/questions/37167064/nservicebus-appears-to-take-a-hard-reference-to-version-2-0-0-0-via-ionic-zip-dl

[2016-05-13 03:41] SeanFeldman commented on #33
Done in https://github.com/Particular/NServiceBus.Host.AzureCloudService/commit/13a85a78fc4cf627de3c1862a2fde61313e2f03a

[2016-05-13 03:41] #33 closed

[2016-05-19 12:05] Scooletz opened #48 "Provide tests for the host configuration"
Currently `DynamicHostController` has no tests. i.e. properties of `HostingSettings` influencing its behavior could be changed without an error. This part of the host functionality should have a proper suite of tests. Taking into consideration that `NServiceBusRoleEntrypoint` as well as `DynamicHostController` are azure role agnostic, it should require no vm spawning.

[2016-05-20 13:55] boblangley opened #49 "Azure Host V7 Host DisplayName"
The endpoint name no longer shows the Role Instance Id as was intended. [This line](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/master/src/NServiceBus.Hosting.Azure/GenericHost.cs#L131) does not set the DisplayName property which is used by ServicePulse and other items to provide a user-friendly way to identify the Cloud Service instance.

To change the DisplayName in NSe

[2016-05-25 05:32] janpieterz commented on #5
@yvesgoeleven any news/thoughts about this? Am I correct in thinking this would mean I can run a single windows service on a normal VM/machine (non-azure) that would exhibit similar behavior in reading the zip file endpoints? You mention on https://github.com/Particular/NServiceBus.Azure/issues/186 that it is possibly not needed.

As an example where the above use case would really come in handy i

[2016-05-25 05:42] SeanFeldman commented on #5
@janpieterz your thinking is correct.
This feature is not scheduled yet and is only a part of the azure hosting option with cloud services.
Saying that, you can multi-host your endpoints in a single host already (here's a sample http://docs.particular.net/samples/hosting/multi-hosting/). It will not be as robust as the multi-host on azure, but can allow what you're looking for.

[2016-05-25 06:21] janpieterz commented on #5
Thanks for the info @SeanFeldman, good to know! Was hoping this would be part of v6, but will then indeed run it with the multi-hosting approach.

[2016-05-25 12:30] MarcinHoppe commented on #7
Resolved by #52

[2016-05-25 12:30] #7 closed

[2016-05-25 14:21] boblangley commented on #49
@Particular/azure-host-maintainers Is this something that should be back-ported to 6.0?

[2016-05-25 15:58] boblangley commented on #49
My apologies, I see now it is in the POA.

[2016-05-25 15:59] SeanFeldman commented on #49
@boblangley I'm a maintainer and have *no idea* where this PoA is coming from...

[2016-05-25 16:05] SeanFeldman commented on #49
@MarcinHoppe we cannot mix both v6 and v7 in the same issue. If decision is to backport the fix to v6 and release a hotfix, v7 information become irrelevant for the release notes. I'll open a new issue for v6.

[2016-05-25 16:30] SeanFeldman commented on #49
@boblangley could you please a separate issue for azure host v6 as a bug with milestone 6.2.5? Thank you.

[2016-05-25 16:34] boblangley commented on #49
@SeanFeldman will do.

[2016-05-25 16:39] boblangley opened #54 "Azure host V6 DisplayName incorrectly displays machine name"
## Who's affected

* All users using ServicePulse or the host DisplayName header value to differentiate endpoint instances of the AzureCloudService Host.

## Symptoms

The DisplayName is used by ServicePulse to differentiate instances. Using the machine name is not very helpful in Azure as the deployed machine can be changed at any time.

## Workaround

To get more meaningful display names, the fo

[2016-05-25 16:40] boblangley commented on #54
Split V6 host bug from #49 as requested

[2016-05-25 16:45] boblangley commented on #54
This doco http://docs.particular.net/nservicebus/hosting/override-hostid mentions `$.diagnostics.hostdisplayname` as the header value that includes the display name. This is set by the setting `NServiceBus.HostInformation.DisplayName` in the work-around above.

That workaround listed above is not meant to be used verbatim, I assume we can come up with a runtime value that is appropriate instead of

[2016-05-25 19:13] MarcinHoppe commented on #49
@SeanFeldman I'm sorry I jumped the gun and filled the PoA without consulting the maintainers. My idea was to have two PRs, each attached to a respective milestone to play nice with release notes automation. Having two issues is of course as good.

[2016-05-25 19:43] SeanFeldman commented on #49
No worries @MarcinHoppe. We might not need an issue for host v7 release notes if the issue is addressed in host v6 as a hotfix.

[2016-05-25 19:52] SeanFeldman commented on #54
Backwards compatibility [discussion](https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/53#discussion_r64610617)

[2016-05-25 20:13] boblangley commented on #54
I updated the Who's Affected section with a better description.

[2016-05-25 20:44] MarcinHoppe commented on #49
Hotfix should be enough.

[2016-05-25 21:50] SeanFeldman commented on #49
## Analysis

### Core

* `DisplayName` is set to be the `RuntimeEnvironment.MachineName` by default.
* `HostId` is a unique calculated identifier of where the endpoint is running. Core by default sets it to deterministic GUID of `fullPathToStartingExe` and `RuntimeEnvironment.MachineName`.

### SC

SC is "re-mapping" the data from core to its own info

* SC.`HostId` <= Core.`HostId`
* SC.`Host` <=

[2016-05-25 21:57] johnsimons commented on #49
@SeanFeldman your comment above, should it say "In azure host v7" ?

[2016-05-25 21:58] johnsimons commented on #49
@SeanFeldman That is exactly what customers want, so :+1:

[2016-05-25 21:59] johnsimons commented on #49
Can we please patch previous versions to also do this ?

[2016-05-25 22:00] johnsimons commented on #49
Does this work for both AzureServiceBus and AzureStorageQueues ?

[2016-05-25 22:03] SeanFeldman commented on #49
@johnsimons there's an issue for azure host v6 as well :) hotfix will be going out.
In regards tot he transport (ASB/ASQ) - shouldn't affect at all.

[2016-05-25 22:14] SeanFeldman commented on #54
[Analysis](https://github.com/Particular/NServiceBus.Host.AzureCloudService/issues/49#issuecomment-221718787) performed for Azure v7 host includes information for v6 host as well.
In Azure v6 host the `DisplayName` of `endpoint@machinename` was not helpful because machine name was changing over the time. When SP doesn't receive heartbeats for a specific endpoint instance, to troubleshoot that inst

[2016-05-26 03:04] SeanFeldman commented on #54
After discussion with @boblangley and @johnsimons, conclusion is that SC and SI could be affected for the customers with already registered endpoints.

[2016-05-26 15:38] SeanFeldman commented on #54
@Particular/azure-host-maintainers back-porting this issue requires SC/SI changes as well.
Do we provide workaround for azure host v6 and leave it as is?

[2016-05-26 15:46] SeanFeldman commented on #54
Update: added workaround section to provide 2 possible options (for CSes and WebJobs).

[2016-05-26 15:55] SeanFeldman opened #56 "Unnecessary Cloud Service role instance recycling on removal of a dynamic hosted endpoint from storage"
## Who's affected

* All users using Azure Cloud Service dynamic host (multi-host) that need to remove dynamic endpoints from the host.

## Symptoms

When a dynamically hosted endpoint is not longer needed and removed from a storage account, Azure dynamic host performs unnecessary role instance recycling. This causes all other multi-hosted endpoints to restart as well.

## Impact assessment

For s

[2016-05-26 17:32] andreasohlund commented on #54
I'd say go with the workaround for now. We can always reconsider if we get users asking for this?

[2016-05-26 18:54] #54 closed

[2016-05-26 23:18] johnsimons commented on #54
@andreasohlund I would recommend u install SC and SP and try to use it with Azure, and then make this call

[2016-05-26 23:18] johnsimons commented on #54
@SeanFeldman how much work would this be ?

[2016-05-26 23:20] SeanFeldman commented on #54
On the azure host - very little coding, a lot of testing in conjunction with SC/SP/SI.
There would be work required on the SC/SP side (not sure about SI).

[2016-05-27 01:55] SeanFeldman commented on #56
Resolved by 678d3988374b1d1c0d0d19211da6d8695e2908f6

[2016-05-27 01:55] #56 closed

[2016-05-27 07:23] andreasohlund commented on #54
Not arguing that running SC on Azure is non optimal. But is this the only problem? Should we take one step back and list all the issues that we have relating to running SC on Azure?

[2016-05-27 07:26] johnsimons commented on #54
@andreasohlund IMHO this is the biggest pain point we currently have in ServicePulse, the UI is just an ocean of decommissioned instances.
Yes there are other issues, but I would definetly start with this one

[2016-05-30 10:13] MarcinHoppe commented on #38
This will be gone in V7 of the host. Do we want to keep this issue to consider backporting?

[2016-05-30 10:32] yvesgoeleven commented on #38
@MarcinHoppe I don't think we can backport this, zipping in .net libs is fairly new

[2016-05-30 10:37] MarcinHoppe commented on #38
@yvesgoeleven True. This means we can probably close this issue as fixed?

[2016-05-30 10:49] #38 closed

[2016-05-30 10:49] yvesgoeleven commented on #38
done

[2016-05-30 19:46] SeanFeldman commented on #56
cc @CRuppert

[2016-05-30 19:50] SeanFeldman commented on #30
Not relevant any more.

[2016-05-30 19:50] #30 closed

[2016-05-30 19:53] SeanFeldman commented on #48
@Scooletz please elaborate on what needs to be tested.

[2016-05-30 19:55] SeanFeldman commented on #11
@yvesgoeleven I think this is already in place and can be closed.

[2016-05-30 19:56] SeanFeldman commented on #8
@Particular/azure-host-maintainers what do we do with this one?

[2016-05-30 22:23] SimonCropp commented on #8
i say close. i dont see the effort in keep them in sync to be worth it

[2016-05-30 22:24] #8 closed

[2016-05-31 11:28] #12 closed

[2016-05-31 11:28] #11 closed

[2016-06-01 13:11] Scooletz commented on #48
@SeanFeldman Updated the initial description.

[2016-06-23 22:37] SeanFeldman opened #57 "Cannot override endpoint name with a value determined at runtime"
When hosting an endpoint with Cloud Services, the [documented options](http://docs.particular.net/nservicebus/endpoints/specify-endpoint-name) to specify a custom endpoint name are:

1. Namespace convention
1. `EndpointName[]` attribute
1. Installation parameter
1. Command line parameter
1. ~~Input queue override~~ doesn't seem to affect everything related to the endpoint name

When endpoint name

[2016-06-24 04:50] AndreasESchneider commented on #57
@SeanFeldman setting the endpoint name dynamically is helpful for us to isolate workstations from each other while using the same AzureServiceBus transport configuration in the cloud for dev and test. We might see that messages are picked up and processes from another running dev or test workstation which is unwanted for this use-case.

There might be another (hypothetic) use case for dynamically

[2016-06-24 13:40] yvesgoeleven commented on #57
Perhaps add a property on IConfigureThisEndpoint that users can/must implement

[2016-06-24 14:12] SeanFeldman commented on #57
@danielmarbach had a spike related to this issue (issue https://github.com/Particular/NServiceBus/issues/2477)

[2016-06-28 12:24] AndreasESchneider commented on #57
@yvesgoeleven maybe a virtual call for the endpoint name which could be overwritten in the class implementing IConfigureThisEndpoint might be helpfull?

[2016-07-01 08:05] andreasohlund commented on #57
Me and @danielmarbach talked about this and the proposal is to introduce a host specific

`config.DefineEndpointName("someName")` that would set the name in the settings dictionary

Ie:

[code]

[2016-07-01 22:23] SeanFeldman commented on #57
That works. Should it be consistent between Azure host and the regular host or we don't care @andreasohlund ?

[2016-07-04 07:10] andreasohlund commented on #57
The idea was to make it consistent unless there is some api that makes more sense for Azure?

[2016-07-04 13:08] danielmarbach commented on #57
See

https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/58
https://github.com/Particular/NServiceBus.Host/pull/92

[2016-07-06 06:05] mikeminutillo commented on #57
@yvesgoeleven @SeanFeldman does @danielmarbach's fix address this issue? Can this be closed?

[2016-07-06 08:15] yvesgoeleven commented on #57
@mikeminutillo yes indeed, closing

[2016-07-06 08:15] #57 closed

[2016-08-15 07:27] peto268 opened #60 "DefineEndpointName System.InvalidCastException"
When trying to set my endpoint name using:
`endpointConfiguration.DefineEndpointName("Endpoint");`
I get an: System.InvalidCastException: Unable to cast object of type 'System.String' to type 'NServiceBus.Routing.EndpointName'.

Maybe the DefineEndpointName extension should look something like this:
`configuration.GetSettings().Set("NServiceBus.Routing.EndpointName", new EndpointName(endpointName)

[2016-08-15 14:52] SeanFeldman commented on #60
@peto268 what version of NServiceBus and AzureCloudService are you using? Looks like versions are out of sync. Extension method in the latest beta is using a `string` since core is switched to use a `string` as well.

[2016-08-16 09:57] peto268 commented on #60
NServiceBus is version 6.0.0-beta0004
NServiceBus.Hosting.Azure" is version 7.0.0-beta0003

[2016-08-19 07:44] SeanFeldman commented on #60
New beta packages were published.
Could you please upgrade and confirm if the issue is resolved for you?

[2016-08-22 06:53] peto268 commented on #60
It's working now, thanks.

[2016-08-22 06:53] #60 closed

[2016-09-20 17:20] SeanFeldman opened #63 "V7 RTM"
## Items to complete
- ~~Change package author name -> use updated NugetPackage https://github.com/Particular/V6Launch/issues/4~~ not needed
- [ ] Create release notes (general ones, similar to the [Core ones with milestones](https://github.com/Particular/V6Launch/issues/75#issuecomment-251098093))
- [ ] Update [V6Launch status list](https://github.com/Particular/V6Launch/issues/4)

[2016-09-20 17:22] SeanFeldman commented on #63
@Particular/azure-host-maintainers anything missed here?

[2016-09-30 08:31] WojcikMike commented on #49
@boblangley can you let me know where we stan with this? I simply wonder what we need to do to close this:
https://github.com/Particular/ServicePulse/issues/309

[2017-01-11 15:25] janpieterz commented on #19
Any progress/thoughts about this?
We're still encountering it (product is still on NSB v5).

[2017-01-12 15:35] #63 closed

[2017-01-12 15:55] SeanFeldman opened #66 "Incorrect log source"
Incorrect log source is used in the following classes:
1. [`DynamicHostMonitor`](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/release-7.0.0/src/NServiceBus.Hosting.Azure/DynamicHost/DynamicHostMonitor.cs#L15)
1. [`DynamicEndpointProvisioner`](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/release-7.0.0/src/NServiceBus.Hosting.Azure/DynamicHost/Dynami

[2017-01-12 23:49] SeanFeldman commented on #19
It looks like the issue is with the [`DynamicEndpointLoader`](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/5851d99c4fd9be0be737f39027764ec68cc1a64a/src/NServiceBus.Hosting.Azure/DynamicHost/DynamicEndpointLoader.cs#L27) that is supposed to return all the zip files, but doesn't actually check if the found zip files are valid zip files.

By evaluating those files and returni

[2017-01-13 07:08] janpieterz commented on #19
That seems to make sense (if that detection is solid of course).

Would that still enable the re-download (for whatever reason)? The 'source' zip in the blob storage is solid, it's just the download that gets corrupted.

Would it help if I could offer up an invalid zip? If I encounter it again I'll try and go in and extract one (sadly we just had a burst of deployments, might take a while).

[2017-01-13 12:04] SeanFeldman opened #67 "V6 Multi-host cloud service is not restarted when a critical error is raised"
## Who's affected

Any Azure customers using Cloud Services (CS) to multi-host endpoints

## Symptoms

Endpoints encounter critical error, shutdown, but the multi-hosting CS doesn't restart.

## Workaround

Restart CS manually to restart all endpoint.

## Details

`DynamicEndpointRunner` does not get the `RecycleRoleOnError` flag set, which will never allow it to [request CS to restart](https://gi

[2017-01-13 12:06] SeanFeldman opened #68 "V7 Multi-host cloud service is not restarted when a critical error is raised"
## Who's affected

Any Azure customers using Cloud Services (CS) to multi-host endpoints

## Symptoms

Endpoints encounter critical error, shutdown, but the multi-hosting CS doesn't restart.

## Workaround

Restart CS manually to restart all endpoint.

## Details

`DynamicEndpointRunner` does not get the `RecycleRoleOnError` flag set, which will never allow it to [request CS to restart](https://gi

[2017-01-13 12:11] SeanFeldman commented on #68
related to #67

[2017-01-13 12:11] SeanFeldman commented on #67
related to #68

[2017-01-13 12:19] SeanFeldman commented on #19
No, that would not 😞 But it will prevent from failures. You'd need to monitor logs for errors.

Yes. I wonder if it's also some sort of edge case.

[2017-01-13 12:22] janpieterz commented on #19
In that case, the failures currently are basically the endpoint being shut down and not starting with the new one (nor the old one). What would the difference in failure mode then be?

Will send a zip when encountering it!

[2017-01-17 08:21] yvesgoeleven opened #69 "ZipFile.ExtractToDirectory does not allow overwrite"
## Who's affected

- Anyone using Azure Cloud Services and using [shared hosting](https://docs.particular.net/nservicebus/hosting/cloud-services-host/shared-hosting)

## Symptoms

Shared-hosted endpoints fail to update due to file overwrite failure when extracted from zip files.

## Original issue

The following line would throw when there is already are existing files, causing the endpoint to not

[2017-01-17 08:57] yvesgoeleven commented on #68
Closing this one, it works fine in V7 https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/develop/src/NServiceBus.Hosting.Azure/DynamicHost/DynamicHostController.cs#L32

[2017-01-17 08:57] #68 closed

[2017-01-17 09:12] yvesgoeleven commented on #67
I think we were blind when looking at this, the property is set https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/support-6.2/src/NServiceBus.Hosting.Azure/DynamicHost/DynamicHostController.cs#L50

[2017-01-17 09:12] #67 closed

[2017-01-20 10:37] Scooletz commented on #69
Should this issue be closed then @yvesgoeleven  as #70 is merged?

[2017-01-20 12:58] yvesgoeleven commented on #69
@Scooletz I think we still need to release this, right @SeanFeldman ?

[2017-01-21 17:34] SeanFeldman commented on #69
Correct. Needs proper description (who's affected, etc) and a milstone. And then can be released.

[2017-01-24 07:36] janpieterz commented on #19
Just had another outage of 6 hours, monitoring didn't scream as loud as we expected it to, but at the core because of this.

Given that the outage was this long and undetected I didn't have the opportunity to retrieve the zip file.
It was also in the middle of the night.

[2017-02-08 15:57] Scooletz opened #72 "Bump up the storage library to 8.*"
## Who's affected

- Anyone using Azure Storage Transport and require [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage/) version 8.x

## Symptoms

- N/A

[2017-02-13 15:12] Scooletz commented on #69
@yvesgoeleven Could you provide a better description for it?

[2017-02-13 15:33] Scooletz commented on #66
We're going to fix it only on the develop of the latest version.

[2017-02-13 16:59] #66 closed

[2017-02-15 18:29] #69 closed

[2017-02-15 19:13] SeanFeldman opened #74 "Remove the need for assembly redirect in NServiceBus.Hosting.Azure.HostProcess.exe.config"
Since NServiceBus core Version 6 now can return partially scannable assemblies the host will blow up since it does its own `.GetTypes()` call on each assembly in order to find the class implementing `IConfigureThisEndpoint`.

## Symptoms

The Version 7 host blows up during startup if there is a assembly that is partially scannable. This forces the users to add assembly redirects to both `NServiceB

[2017-02-17 15:42] SeanFeldman opened #75 "Doco: How to run Cloud Service based endpoint without cloud service emulator"
Connects to https://github.com/Particular/docs.particular.net/issues/1583

Original issue in docs repo: https://github.com/Particular/docs.particular.net/issues/1583

[2017-02-21 22:37] SeanFeldman commented on #75
Requires #74 to be released

[2017-02-21 23:38] SeanFeldman commented on #74
closed via https://github.com/Particular/NServiceBus.Host.AzureCloudService/commit/362b5c5ba7068d053f6308711736fbc10088e2fe

[2017-02-21 23:39] #74 closed

[2017-02-22 00:25] #75 closed

[2017-03-01 21:18] #37 closed

[2017-03-01 22:09] SeanFeldman opened #79 "Release 7.1"
## Who's affected

- Anyone hosting NServiceBus endpoint with Cloud Services and requires [WindowsAzure.Storage](https://www.nuget.org/packages/WindowsAzure.Storage/) library version 8.x

---
- [x] Bump up the storage library to 8.* (PR #78)
- [x]  Mark the appropriate PRs/issues with the milestone
- [x]  Create `release-7.1`
- [x]  Smoke test doco/samples
- [x]  Create `support-7.0`
- [x] Merge t

[2017-03-01 23:29] SeanFeldman commented on #72
Will be released with #80

[2017-03-01 23:29] #72 closed

[2017-03-02 15:02] SeanFeldman commented on #19
@janpieterz could you please email this to sean(dot)feldman(at)particular(dot)net?

[2017-03-02 15:11] janpieterz commented on #19
Email sent, thanks.

[2017-03-08 20:44] #79 closed

[2017-04-09 07:22] janpieterz commented on #19
@SeanFeldman just wanted to let you know that as part of the move to V6 we've moved away from using the AzureCloudService (in order to get reliable deployments).

For us this isn't relevant anymore for now.

[2017-04-09 09:56] SeanFeldman commented on #19
@janpieterz we're still going to tackle it 😃
What did you decide to use as your host?

[2017-04-10 06:16] janpieterz commented on #19
I chose the 'default' host (https://github.com/Particular/NServiceBus.Host). For now it does what it needs to and I manage the deployment via Octopus directly (with the cloud service we anyway had a 'nasty' way to deploy those endpoints).

[2017-04-25 16:34] onesadjam opened #84 "Shared host is not discovered during assembly scanning"
The documentation for shared hosting indicates the worker role need only provide a public class that implement IConfigureThisHost:

https://docs.particular.net/nservicebus/hosting/cloud-services-host/shared-hosting

However, in practice the assembly scanner is only looking for classes that implement IConfigureThisEndpoint (NServiceBus.Host.AzureCloudService/src/NServiceBus.Hosting.Azure/RoleHost/E

[2017-04-27 13:12] boblangley commented on #84
@onesadjam I am looking into this. I will get back to you about your PR shortly.

[2017-05-22 08:39] Scooletz opened #86 "Update NSB Core dependency to 6.3"

[2017-05-30 07:06] danielmarbach commented on #86
Done as part of #87. @SeanFeldman @Scooletz feel free to close this if no further action is required

[2017-05-30 07:08] danielmarbach opened #88 "Deprecate `AzureConfigurationSource`"
Core 6.3 deprecated `IConfigurationSource `with WARN. We should deprecate `AzureConfigurationSource `and see whether we need to provide alternatives or not.

[2017-05-30 16:40] #86 closed

[2017-05-31 22:37] SeanFeldman opened #89 "Dynamic host runs as an MSMQ endpoint"
Currently, Dynamic host is running as a send-only endpoint with the default transport, which is MSMQ.

Should dynamic host be an endpoint at all?
We shouldn't rely on MSMQ availability on the worker roles and endpoints should be hosted.
In case send-only hosting endpoint was sending any messages (by accessing `IMessageSession` via `IWantToRunWhenEndpointStartsAndStops`), functionality should be mo

[2017-05-31 23:09] SeanFeldman commented on #84
Blocked by https://github.com/Particular/NServiceBus/issues/4769

[2017-06-01 09:39] yvesgoeleven commented on #89
dynamic host leverages part of the core, to do assembly scanning, uses the configuration model etc.. this causes defaults to apply, hence msmq is on. If we want to prevent these defaults, we'd need to rip the core out and include these capabilities separatly. Is it worth the effort given that SF now exists?

[2017-06-01 17:29] SeanFeldman commented on #89
yes

Not so sure about this part. Shouldn't multi-host be used as a host and not as an send-only endpoint? This is why we could introduce it as a new major, were we can have such a breaking behavior.

Good question. Right now we're relying on an undocumented feature - MSMQ installed by default. If that changes, any multi-host is dead in the water. Not to mention that by running an endpoint for the

[2017-06-02 17:22] boblangley commented on #89
I do not think the host should also act as an NServiceBus endpoint if it has been configured to run as a dynamic host, and I don't see any reason to abandon the dynamic host for SF just yet.

My suggestion would be to limit the change to just the following:

- Add a third check to [ValidateEndpoints](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/develop/src/NServiceBus.Host

[2017-06-05 17:18] SeanFeldman commented on #84
Pending core PR: https://github.com/Particular/NServiceBus/pull/4784

[2017-06-08 23:51] SeanFeldman commented on #84
Core 6.3.4 [is out](https://github.com/Particular/NServiceBus/releases/tag/6.3.4). Not blocked anymore.

[2017-06-09 14:52] yvesgoeleven commented on #89
Agreed, this should not run as an endpoint

[2017-06-09 16:02] boblangley commented on #88
@danielmarbach `AzureConfigurationSource` is [not a public type](https://github.com/Particular/NServiceBus.Host.AzureCloudService/blob/master/src/NServiceBus.Hosting.Azure/ConfigurationSource/AzureConfigurationSource.cs#L12), so I do not think we need to deprecate it. We will have to rework the implementation as part of supporting core v7.  I am going to close this issue.

[2017-06-09 17:16] danielmarbach commented on #88
@boblanglay isn't the issue that this type automatically loads a certain
specialized config section which people are using inside the AppConfig and
thus we need to deprecate the usage by logging a warning?

Bob Langley <notifications@github.com> schrieb am Fr. 9. Juni 2017 um 18:03:

--

Have you tried NServiceBus V6 <https://particular.net/nservicebus-v6> yet?

Learn how to scale applications wit

[2017-06-09 17:22] boblangley commented on #88
This allows the user to specify settings using the Azure worker role service configuration settings. Unless I am mistaken we will want to retain this capability for the next version, just not base it on overriding `IConfigurationSource`, but in

[2017-06-09 17:31] danielmarbach commented on #88
Ok then we need to custom load it ourselves instead of relying on the core functionality then and remove the usage of IConfigurationSource. Would we ever want to provide the Host here in top of .NET Core?

[2017-06-09 17:31] boblangley commented on #88
The only public portion of our API we could obsolete would be the `endpointConfiguration.AzureConfigurationSource();`, which we may want to retain to indicate support for Azure worker role [service configurations](https://docs.microsoft.com/en-us/azure/vs-azure-tools-configure-roles-for-cloud-service), which is what that method does now. In this case the implementation would change and no obsolete

[2017-06-09 17:35] boblangley commented on #88
As of now I do not think Cloud services support .NET Core. Perhaps @SeanFeldman or @yvesgoeleven can help enlighten us?

[2017-06-12 08:09] yvesgoeleven commented on #88
@boblangley not ootb afaik, but it should be perfectly possible to install it using a startup task and then run a core website in it

[2017-06-12 13:46] yvesgoeleven commented on #88
I don't understand why .Net core has anything to do with this.

It sounds more like we need to reimplement this feature of the host using whatever the replacement for IConfigurationSource is.

[2017-06-13 13:53] SeanFeldman commented on #84
Hotfixes 7.0.4 and 7.1.3 where [released](https://www.nuget.org/packages/NServiceBus.Hosting.Azure) and announced. Thank you @onesadjam

[2017-06-13 13:53] #84 closed

[2017-06-14 10:27] yvesgoeleven opened #97 "Fix binding redirect issues in shared hosting sample"
See https://github.com/Particular/docs.particular.net/issues/2840

[2017-06-15 10:13] yvesgoeleven commented on #97
PR https://github.com/Particular/docs.particular.net/pull/2854/files

[2017-06-16 09:31] #97 closed

[2017-06-16 09:31] yvesgoeleven opened #98 "Figure out why exe requires net35 when exe.config file is added"
https://github.com/Particular/docs.particular.net/issues/2840#event-1126392732

[2017-06-16 12:01] yvesgoeleven commented on #98
Tried to reproduce this on new azure vm, windows server 2016 datacenter with no net35 installed... but the endpoint just worked without prompting

[2017-06-16 12:03] yvesgoeleven commented on #98
@SteveWinward what os were you using when you saw this issue?

[2017-06-16 12:29] SteveWinward commented on #98
@yvesgoeleven I'm running the sample on a Windows 10 vm.  Version 1703, Build 15063.296.

[2017-06-16 14:07] yvesgoeleven commented on #98
@stevewinward can you try on another version (ideally clean image) of windows 10?

[2017-06-16 16:02] SteveWinward commented on #98
So I just created a brand new Windows 10 Enterprise N vm in Azure.  When I copy over the bin files into the Azure vm and run the host process I do not get the .NET 3.5 install prompt.

There must be something different between my personal dev machine and the fresh Windows 10 image in Azure.  Thanks for your help with looking into this.

[2017-06-16 19:18] yvesgoeleven commented on #98
@SteveWinward sounds like a machine specific issue then. I'm going to close this issue. In case you find a relationship specific to the hostprocess feel free to reopen it.

[2017-06-16 19:18] #98 closed

[2017-06-19 06:09] danielmarbach commented on #88
@yvesgoeleven My question was if we ever want to target this proj towards .NET Core and if that even makes sense. Doesn't the decision influence the replacement strategy we are going to take? I think it will, hence I mentioned it

[2017-06-19 07:47] yvesgoeleven commented on #88
@danielmarbach I doubt that cloudservices will get a .net core sdk any time soon, it's not getting much attention from the MS end.

[2017-06-26 22:26] SeanFeldman opened #99 "Retire support branch that is no longer needed"
According to our [support policy](https://docs.particular.net/nservicebus/upgrades/supported-versions#host-packages-nservicebus-hosting-azure), support branche `support-7.0` is out of support.

Do we need to remove this branch?

[2017-06-29 15:02] danielmarbach commented on #99
Yes. Done.

[2017-06-29 15:02] #99 closed

[2017-06-29 15:24] danielmarbach commented on #13
Removed the bug label and moved it to the ice box.

[2017-06-29 15:31] danielmarbach commented on #19
There are not options for us when the zip container is corrupted. We are not able to reproduce this problem. Nowadays with WebJobs, ServiceFabric and more there is a variety of hosting options available that supersede the cloud service host. Since there is a workaround to move to NServiceBus.Host we are closing this.

[2017-06-29 15:31] #19 closed

[2017-07-04 11:23] yvesgoeleven opened #100 "Improve dynamic host"
This is an issue to group all items related to dynamic host improvement.

Note: as service fabric is gaining more traction and other hosting options have matured a lot, the dynamic host lost a lot of value

[2017-07-04 19:01] SeanFeldman commented on #49
Closed by accident?

[2017-08-07 14:34] danielmarbach commented on #88
Should we icebox this issue since cloudservices will probably not get .NET Core support?

[2017-08-07 15:42] SeanFeldman commented on #88
👍

[2017-08-21 14:43] SeanFeldman commented on #88
This is a part of a bigger discussion - Azure host for Cloud Services.

[2017-09-12 07:55] danielmarbach commented on #89
Sent in https://github.com/Particular/NServiceBus.Host.AzureCloudService/pull/104 to implement what @boblangley proposed

[2017-09-12 07:56] danielmarbach commented on #49
@boblangley is there anything left to do here? It seems this item is really outdated but the PoA shows that only doco would be left.

[2017-09-12 07:57] danielmarbach commented on #48
We are deprecating this host. I'm closing this since I do not think it is worth improving the testing situation under that light.

[2017-09-12 07:57] #48 closed

[2017-09-12 07:58] danielmarbach commented on #6
We are deprecating this host. I'm closing this since I do not think it is worth improving the situation under that light.

[2017-09-12 07:58] #6 closed

[2017-09-12 08:00] danielmarbach commented on #5
We are deprecating this host. I'm closing this since I do not think it is worth improving the multi-hosting situation under that light. Given that we have the multi-hosting sample customers can build the functionality themselves if required.

[2017-09-12 10:52] yvesgoeleven commented on #5
@danielmarbach this is the extraction I talked about, we should do this when deprecating the  host

[2017-09-12 15:54] #89 closed

[2017-09-13 06:39] danielmarbach commented on #5
Isn't this issue kind of assuming that it is going to be yet another library? If we do this we could put the code as part of the migration guide or as a sample correct?

[2017-09-13 07:15] yvesgoeleven commented on #5
Correct, means of distribution has not been determined yet. It might make more sense to distribute the code so that it can be adapted to details of the host environment.

[2017-09-13 18:33] boblangley commented on #49
@danielmarbach Correct.

Doco was not updated, although @yvesgoeleven added a small section that is semi-related: https://docs.particular.net/nservicebus/hosting/cloud-services-host/faq#host-identifier

I opened a [doco issue](https://github.com/Particular/docs.particular.net/issues/3217) with some pulled together notes. I don't think I will get to it today to try to take a stab at this.

[2017-10-13 14:07] SeanFeldman commented on #88
Is gone and the upgrade needs to offer a replacement.

[2017-10-13 14:50] SeanFeldman commented on #13
Has already been released.

[2017-10-13 14:50] #13 closed

[2017-10-20 12:02] yvesgoeleven commented on #88
PR https://github.com/Particular/docs.particular.net/pull/3364

[2017-10-20 19:39] #88 closed

[2017-12-11 19:19] SeanFeldman opened #109 "Self-host sample missing for NServiceBus version 8"

[2017-12-11 19:20] #109 closed

[2018-07-09 23:55] SeanFeldman opened #113 "Update Storage library to the latest (9.x)"
Update Storage library to the latest (9.x)

[2018-08-22 14:56] SeanFeldman commented on #49
Doco issue is still opened, but the change to the host was implemented.
Given that documentation issue is tracked, closing this one as completed.

[2018-08-22 14:56] #49 closed

[2018-09-25 18:38] boblangley opened #115 "Update dotsettings and dependencies for Particular.CodeRules, Particular.Packaging, and Fody"
As part of the next maintenance release update .dotsettings, code rules, packaging, and fody

[2018-09-25 19:35] #115 closed

[2018-09-25 21:02] #113 closed

[2020-07-07 07:29] dependabot-preview[bot] opened #161 "Dependabot couldn't reach https://www.myget.org/F/particular/api/v3/index.json as it timed out"
Dependabot couldn't reach https://www.myget.org/F/particular/api/v3/index.json as it timed out.

Is https://www.myget.org/F/particular/api/v3/index.json accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/Particular/update-logs/39293233

[2020-07-08 07:18] #161 closed